{% extends 'pattern.html' %}
{% block title %}
main page
{% endblock %}
{{ super() }}
{% block body %}

<div id="main_title">
<header>
    <h1>
    13-я Всероссийская научно практическая конференция с международным участием 19-20 апреля 2023 года
    </h1>
  </header>
  <p></p>
  <div>
    <a href="/reg" class="button_1">Регистрация</a>
    <a href="contact" class="button_2">Контакты</a>
  </div>
</div>

    <div id="main_text">
      <p>
Уважаемые коллеги!
Конференция посвящена рассмотрению актуальных проблем технологий переработки углеводородных и минеральных ресурсов,
          обсуждению современного состояния  таких областей науки и техники как металлургия руд и концентратов, химия
          и химические технологии, интенсификация, контроль и автоматизация технологических процессов, менеджмент систем
          качества и инноватика в технологиях и управлении.
Для участия в работе конференции приглашаются научно-педагогические работники Вузов, сотрудники научно-исследовательских
          институтов, центров, компаний, аспиранты, магистранты и студенты  под руководством научных руководителей,
          а также ведущие специалисты промышленных предприятий, работающих в этих направлениях.
<br>
<br>
<b>Программа конференции включает пленарное заседание и работу секций по следующим направлениям:</b>
<ul>
    <li>Секция 1. Прогрессивные технологии и физико-химические основы повышения эффективности производств</li>
    <li>Секция 2. Актуальные проблемы химии и химической технологии</li>
    <li>Секция 3. Интенсификация, контроль  и автоматизация технологических процессов</li>
    <li>Секция 4. Менеджмент систем качества</li>
    <li>Секция 5. Инноватика в технологиях и управлении</li>
</ul>
      </p>

<!--    <div>-->
<!--    <a href="/add_post">Create new post</a>-->
<!--    <a href="/posts">All posts</a>-->
<!--    </div>-->

    </div>






{% endblock %}